
@{
    ViewData["Title"] = "HQ";
}

<h1>HQ</h1>

<h2>Our headQuarter</h2>
<p>Street: @ViewBag.headquarter.Street</p>
<p>Street: @ViewBag.headquarter.Number</p>
<p>Street: @ViewBag.headquarter.Zip</p>
<p>Street: @ViewBag.headquarter.State</p>